@import model.MarvelFilm

@(marvelList: List[MarvelFilm], title: String)(implicit messages: Messages)

@main("List Marvel Film") {

        <div class="container">
          <h1>@title</h1>
            <table class ="table">
                <thead>
                    <tr>
                        <th>Film Name</th>
                        <th>Release Date</th>
                        <th>Revenue Amount</th>
                    </tr>
                </thead>
                @for( film <- marvelList) {
                <tr>
                    <td>@{film.name}</td>
                    <td>@{film.release}</td>
                    <td>@{film.revenue}</td>
                </tr>
                }
            </table>
          <a href="/">Home Page</a>
        </div>
}