@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.css")">
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap.min.css")">
            <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/bootstrap-theme.css")">
            <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" crossorigin="anonymous"></script>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

    </body>
</html>
